// Font Classes and Declarations

//Display 
.display-base-bold {
    @include display-base-bold();
}

// Body
.body-base-regular {
    @include body-base-regular();
}

.body-base-semibold {
    @include body-base-semibold();
}

.body-base-bold {
    @include body-base-bold();
}

.body-small-regular {
    @include body-small-regular();
}

.body-small-semibold {
    @include body-small-semibold();
}

.body-large-regular {
    @include body-large-regular();
}

.body-large-bold {
    @include body-large-bold();
}

.body-large-semibold {
    @include body-large-semibold();
}

// Heading
.heading-one-bold {
    @include heading-one-bold();
}

.heading-two-semibold {
    @include heading-two-semibold();
}

.heading-two-bold {
    @include heading-two-bold();
}

.heading-three-bold {
    @include heading-three-bold();
}

.heading-five-regular {
    @include heading-five-regular();
}

.heading-five-semibold {
    @include heading-five-semibold();
}

.heading-five-bold {
    @include heading-five-bold();
}


.heading-six-regular {
    @include heading-six-regular();
}

.heading-six-semibold {
    @include heading-six-semibold();
}

// Caption
.caption-base-regular {
    @include caption-base-regular();
}

.caption-base-semibold {
    @include caption-base-semibold();
}

.caption-base-bold {
    @include caption-base-bold();
}

// Button Classes & Declarations
.hog-button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 26px;
    gap: 10px;
    text-decoration: none;
}

.hog-button-gold {
    @include body-base-bold();
    background: var(--foundation-primary-500);
    border-radius: 10px;
    color: var(--foundation-grey-500);

    &:hover {
        color: inherit;
    }
}

.hog-button-gold-text {
    color: var(--foundation-primary-600)
}

.hog-button-outline {
    @include body-base-semibold();
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;

    &:hover {
        color: #FFFFFF;
    }
}

.open-link {
    @include body-base-semibold();
    color: var(--foundation-secondary-600);
    text-decoration: none;
}

.directions-button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 26px;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--foundation-secondary-500);
    @include body-base-semibold();
    text-decoration: none;
    color: #FFFFFF;

    &:hover {
        color: #FFFFFF;
    }
}

// Other miscelleanous
.highlight-text {
    color: var(--foundation-primary-700);
}

.highlight-text-red {
    color: var(--foundation-secondary-600);
}

.optional-text {
    color: var(--foundation-grey-300);
}

.status-ongoing {
    background-color: #FDF6EC;
    color: #7A4A02;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px 2px 6px;
    gap: 6px;
    border-radius: 16px;

    @media screen and (max-width: 500px) {
        font-size: 8px;
    }

    .dot {
        width: 6px;
        height: 6px;
        border-radius: 12px;
        background-color: #7A4A02;

        @media screen and (max-width: 500px) {
            width: 2.88px;
            height: 2.88px;
        }
    }
}

.status-complete {
    background-color: #EDFDEC;
    color: #057A02;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px 2px 6px;
    gap: 6px;
    border-radius: 16px;

    @media screen and (max-width: 500px) {
        font-size: 8px;
    }

    .dot {
        width: 6px;
        height: 6px;
        border-radius: 12px;
        background-color: #057A02;

        @media screen and (max-width: 500px) {
            width: 2.88px;
            height: 2.88px;
        }
    }
}

.container {
    @media screen and (max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

//Form Styling
form {

    label {
        @include body-small-regular();
        color: var(--foundation-grey-500);
    }

    input {
        &.input-style {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 16px;
            gap: 10px;
        }

        &::placeholder {
            font-size: 14px;
            color: #9E9D9D;
        }
    }

    select {
        &.input-style {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 16px;
            gap: 10px;
            @include body-small-regular();
        }
    }

    .iti {
        display: flex;
    }

    textarea {
        resize: none;
    }

    .agree-link {
        color: var(--foundation-primary-700);
        text-decoration: none;
        font-weight: 700;
    }

    button {
        border: 0;
        @include body-base-semibold();
    }
}