@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import '_mixins.scss';

@import '_global';

// Imported Responsive Design
@import '_responsiveness';

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #FCFCFC;
    height: 100%;
    color: var(--foundation-grey-300);
    word-wrap: break-word;
}

:root {
    --foundation-primary-900: #58492E;
    --foundation-primary-800: #74603C;
    --foundation-primary-700: #957C4D;
    --foundation-primary-600: #BF9E63;
    --foundation-primary-500: #D2AE6D;
    --foundation-primary-400: #DBBE8A;
    --foundation-primary-300: #E1C99D;
    --foundation-primary-200: #EADABC;
    --foundation-primary-100: #F1E6D2;
    --foundation-primary-50: #FBF7F0;

    --foundation-secondary-900: #641517;
    --foundation-secondary-800: #821C1E;
    --foundation-secondary-700: #A82427;
    --foundation-secondary-600: #D82E32;
    --foundation-secondary-500: #ED3237;
    --foundation-secondary-400: #F15B5F;
    --foundation-secondary-300: #F37679;
    --foundation-secondary-200: #F7A1A3;
    --foundation-secondary-100: #F9BFC1;
    --foundation-secondary-50: #FDEBEB;

    --foundation-grey-900: #121212;
    --foundation-grey-800: #181818;
    --foundation-grey-700: #1F1F1F;
    --foundation-grey-600: #282727;
    --foundation-grey-500: #2C2B2B;
    --foundation-grey-400: #565555;
    --foundation-grey-300: #727171;
    --foundation-grey-200: #9E9D9D;
    --foundation-grey-100: #BEBDBD;
    --foundation-grey-50: #EAEAEA;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(95, 95, 95, 0.05);
    // display: none;

    // Nav Menu Styles
    nav {
        width: 100%;
        padding: 40px 0px;
        background-color: #FFFFFF;

        @media screen and (max-width: 1440px) {
            padding: 27px 0px;
        }

        .container {
            height: 52px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            @media screen and (max-width: 1440px) {
                height: 32px;
            }

            .logo {
                width: 5%;
                height: 100%;

                @media screen and (max-width: 768px) {
                    width: 30%;
                }

                img {
                    width: 50px;
                    height: auto;
                }
            }

            .menu {
                height: 100%;
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: end;

                @media screen and (max-width: 768px) {
                    position: fixed;
                    flex-direction: column;
                    align-items: flex-end;
                    top: 0;
                    right: -100%;
                    width: 100%;
                    min-height: 100vh;
                    background-color: rgba(0, 0, 0, 0.3);
                }

                .logo-menu-mobile {
                    display: none;

                    @media screen and (max-width: 768px) {
                        width: 80%;
                        height: 20%;
                        display: flex;
                        align-items: center;
                        padding-left: 38px;
                        background-color: #FFFFFF;

                        a {
                            display: flex;
                            justify-content: flex-start;
                            text-decoration: none;
                            color: var(--foundation-grey-500);

                            img {
                                width: 71px;
                                height: 56px;
                                margin-right: 16px;
                            }
                        }
                    }

                    @media screen and (max-width: 500px) {
                        width: 85%;
                    }
                }

                .menu-list {
                    display: flex;
                    list-style: none;
                    padding-left: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 0;

                    .menu-list-item {
                        .menu-link {
                            @include body-base-regular();
                            color: var(--foundation-grey-500);
                            text-decoration: none;

                            &.active {
                                font-weight: 600;
                                color: var(--foundation-primary-700);
                            }
                        }

                        .menu-button {
                            text-decoration: none;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 13px 26px;
                            gap: 10px;
                            border: 1px solid var(--foundation-primary-600);
                            border-radius: 10px;
                            color: var(--foundation-primary-600);

                            @media screen and (max-width: 768px) {
                                margin: 24px 0;
                            }
                        }
                    }

                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                        width: 80%;
                        background-color: #FFFFFF;
                        height: 100%;
                        justify-content: initial;
                        align-items: flex-start;
                        padding-left: 38px;
                        padding-right: 38px;

                        .menu-list-item {
                            width: 100%;
                            margin: 8px 0;

                            .menu-link {
                                display: flex;
                                width: 100%;
                                padding: 16px;

                                &.active {
                                    background: #FDF7EC;
                                    border-radius: 8px;
                                }
                            }
                        }
                    }

                    @media screen and (max-width: 500px) {
                        width: 85%;
                    }
                }
            }

            .bars {
                width: 40px;
                height: 40px;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                // background-color: #FFFFFF;
                display: none;

                @media screen and (max-width: 768px) {
                    display: block;
                }

                // Bar
                .bar-child {
                    width: 65%;
                    height: 2px;
                    border-radius: 3px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: var(--foundation-grey-500);
                    border: 1.4px solid var(--foundation-grey-500);

                    &.bar-one {
                        top: 25%;
                    }

                    &.bar-two {
                        top: 50%;
                    }

                    &.bar-three {
                        top: 75%;
                    }
                }
            }
        }

    }
}

// Hero Container Styles
#hero {
    min-height: 75vh;
    display: grid;
    place-items: end;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../assets/images/Home\ Page\ hero\ image.png');
    background-size: cover;
    background-repeat: none;

    @media screen and (max-width: 1440px) {
        min-height: 100vh;
    }

    @media screen and (max-width: 1024px) {
        min-height: 90vh;
    }

    // Oragnizations Number Style
    .org-number-container {
        position: relative;

        .org-number {
            color: #FFFFFF;
        }
    }
}

// Clientele Section Styles
#clientele {
    position: relative;

    .move-container-halfway {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 15px 25px rgba(58, 55, 55, 0.02) !important;
    }
}

//  About Section Styles
#about {
    .heading-two-bold {
        color: var(--foundation-grey-500);
    }

    .body-base-regular,
    .body-small-regular {
        color: var(--foundation-grey-300);
    }

    .body-base-semibold {
        color: var(--foundation-secondary-600);
    }
}

// Build Together Styles
#build-together {
    min-height: 80vh;
    display: grid;
    place-items: center;
    background: rgba(251, 247, 240, 0.7);
}

// Testimonial Stories
#testimonials {

    .body-base-regular {
        color: var(--foundation-grey-300);
    }

    .body-large-semibold {
        color: var(--foundation-secondary-600);
    }

    .heading-three-bold {
        color: var(--foundation-primary-700);
    }

    .heading-six-semibold {
        color: var(--foundation-grey-500);
    }

    .custom-card {
        background-color: transparent;
        filter: drop-shadow(0px 15px 25px rgba(48, 48, 48, 0.03));
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &.active {
            background-color: #ffffff !important;
            box-shadow: 0px 15px 25px rgba(48, 48, 48, 0.03);
        }

        .user {
            display: flex;
            align-items: center;

            .user-image {
                margin-right: 10px;
            }
        }
    }

    // Stories
    .stories {
        height: 460px;
        position: relative;
        overflow: hidden;
        display: flex;

        .story-container {
            width: 100%;
            display: none;

            &.active {
                display: block;
            }
        }
    }

}

// Footer Design Styles
#footer {
    min-height: 50vh;
    display: grid;
    place-items: center;

    .container {
        border-color: rgba(0, 0, 0, 0.2);

        .body-base-regular {
            color: var(--foundation-grey-300);
        }
    }

    // Subscription Form
    .sub-form {
        position: relative;

        #subscriber {
            padding: 16px 10px;

            &::placeholder {
                font-size: 14px;
                color: #959696;
            }
        }

        .hog-button-subscribe {
            position: absolute;
            top: 8px;
            right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 16px;
            color: #FFFFFF;
            @include body-small-semibold();
            background: var(--foundation-grey-500);
            border-radius: 5px;
            border: none;
        }
    }

    // Help Links
    .help-links {
        padding-left: 0;
        list-style: none;

        .links-within-list {
            margin: 20px 0;

            a {
                text-decoration: none;
                color: var(--foundation-grey-400);
                @include body-base-regular();
            }
        }
    }
}

// Contact Us Page
// Contact + Form
.contact-hero {
    min-height: 95vh;
    display: grid;
    place-items: center;

    .body-small-semibold {
        color: var(--foundation-primary-700);
    }

    .heading-two-bold {
        color: var(--foundation-grey-500);
    }

    .heading-six-regular {
        color: var(--foundation-grey-300);

        .heading-six-semibold a {
            color: var(--foundation-primary-700);
            text-decoration: none;
        }
    }

}

// Map Section Styling
.contact-map {
    .heading-six-regular {
        color: var(--foundation-grey-300);
    }

    .overlay {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        // .directions-button {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;
        //     align-items: center;
        //     padding: 13px 26px;
        //     gap: 10px;
        //     border-radius: 10px;
        //     background-color: var(--foundation-secondary-500);
        //     @include body-base-semibold();
        //     text-decoration: none;
        //     color: #FFFFFF;
        // }
    }
}

// About Page
.about-hero {
    min-height: 100vh;
    display: grid;
    place-items: center;

    .container {
        background-color: #FAF3E7;
        border-radius: 10px;
        position: relative;

        .hog-button-gold {
            @include body-base-semibold();
        }

        .floating-element {
            position: absolute;

            &.floating-element-purple {
                width: 20px;
                height: 20px;
                background-color: #BD27D6;
                border-radius: 50%;
                top: 9%;
                left: 85.8%;
            }

            &.floating-element-blue {
                width: 20px;
                height: 20px;
                background-color: #27CBD6;
                border-radius: 50%;
                top: 25%;
                left: 15%;
            }

            &.floating-element-green {
                width: 44px;
                height: 44px;
                background-color: #45C130;
                border-radius: 50%;
                top: 40%;
                left: 70.5%;
            }

            &.floating-element-faded-pink {
                width: 128px;
                height: 128px;
                background: rgba(249, 191, 193, 0.5);
                border-radius: 50%;
                top: 80%;
                left: 59.3%;
            }

            &.floating-element-crown {
                width: 81px;
                height: 117px;
                top: 42%;
                left: 32%;
            }
        }

        .z-index-1 {
            position: relative;
            z-index: 1;
        }
    }

}

// About Values
.values {
    .body-small-semibold {
        color: var(--foundation-primary-700);
    }

    .heading-five-bold,
    .body-large-semibold {
        color: var(--foundation-grey-500);
    }

    .body-base-regular,
    .body-small-regular {
        color: var(--foundation-grey-300);
    }
}

// About Story
.our-story {
    .body-large-semibold {
        color: var(--foundation-primary-700);
        text-transform: uppercase;
    }

    .heading-five-bold,
    .body-large-regular,
    .body-large-bold {
        color: var(--foundation-grey-500);
    }

    .body-small-regular {
        color: var(--foundation-grey-300);
    }

    // Video Container
    .video-container {
        width: 100%;
        height: 720px;
        background-image: url("../assets/images/About\ us\ -\ Our\ story\ video.png");
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media screen and (max-width: 1200px) {
            height: 500px;
        }

        @media screen and (max-width: 500px) {
            height: 300px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }

        .play-video-button {
            z-index: 1;
            cursor: pointer;

            img {
                @media screen and (max-width:500px) {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    // Video Player
    .video-player {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10000;
        background: rgba(0, 0, 0, 0.95);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        video {
            padding: 1rem;
        }

        .close-video {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
            filter: invert(1);
            max-width: 20px;
        }

        .ratio-4x3 {
            --bs-aspect-ratio: 50%;
        }

        .ratio {
            width: 80%;
        }
    }
}

// About Visions
.vision {
    .body-base-regular {
        color: var(--foundation-grey-300);
    }

    .heading-five-bold {
        color: var(--foundation-grey-500);
    }
}

// Join Us Page
#join-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/images/How\ to\ help\ -\ Volunteer\ -\ Image.png");
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    display: grid;
    place-items: end;
    color: #FFFFFF;

    @media screen and (max-width: 1440px) {
        min-height: 85vh;
    }

    @media screen and (max-width: 1024px) {
        min-height: 70vh;
    }

    .body-small-semibold {
        text-transform: uppercase;
    }
}

// Benefits
.benefits {
    .custom-card {
        position: relative;
        background-color: var(--foundation-primary-50);
        padding: 46px 28px 28px 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        text-align: center;

        @media screen and (max-width: 1440px) {
            height: 250px;
        }

        .custom-card-img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

// Volunteer
.volunteer {
    .container {
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.02);

        .volunteer-intro {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/Volunteer\ form\ -\ Image.png');
            background-size: cover;
            background-position: center center;
            padding: 40px 40px 0 40px;

            @media screen and (max-width: 768px) {
                height: 65vh;
                border-radius: 10px 10px 0px 0px;
            }
        }

        .volunteer-form {
            background-color: #FFFFFF;
            padding: 40px 40px 40px 40px;

            @media screen and (max-width: 768px) {
                padding: 28px 28px 28px 28px;
            }
        }
    }
}

// Donate
.donate-hero {
    position: relative;
}

.donate-hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../assets/images/Donate\ page\ hero\ mage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    border-radius: 12px;
    display: grid;
    place-items: center;
    position: relative;

    @media screen and (max-width: 1024px) {
        min-height: 55vh;
    }

    @media screen and (width: 1366px) {
        min-height: 60vh;
    }

    .floating-image {
        position: absolute;
        left: -57px;
        top: 375px;
        z-index: -1;

        @media screen and (max-width: 1024px) {
            left: -25px;
            top: 330px;

        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.donate-card {
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(73, 69, 69, 0.02);
    border-radius: 10px;
    height: 100%;

    @media screen and (max-width: 500px) {
        padding: 12px;

        .heading-six-semibold {
            @include caption-base-semibold()
        }
    }

    #tas {
        width: 333px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        @media screen and (width: 1366px) {
            width: 100%;
        }
    }

    #category {
        color: var(--foundation-secondary-600);

        @media screen and (max-width: 500px) {
            font-size: 10px;
        }
    }

    #title {
        color: var(--foundation-grey-500);
        max-width: 336px;
        height: 64px;

        a {
            text-decoration: none;
            color: inherit;
        }

        @media screen and (max-width: 500px) {
            height: initial;
        }

        @media screen and (max-width: 1440px) {
            width: 100%;
        }
    }

    #exerpt {
        color: var(--foundation-grey-300);
        // min-width: 100%;
        max-width: 336px;
        min-height: 104px;
    }

    #target {
        p:nth-child(2) {
            color: var(--foundation-primary-700);
            margin-top: 2px;
        }
    }

    #status {
        p:nth-child(1) {
            margin-bottom: 2px;
        }
    }

    #status,
    #target {
        @media screen and (max-width: 500px) {

            .body-base-regular,
            .body-base-semibold {
                font-size: 10px;
            }
        }
    }

    .donate-img {
        width: 100%;
    }

    .hog-button {
        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 13px;
            font-size: 15px;
        }
    }
}

// Founders Note
.founders-note {
    .body-base-semibold {
        color: var(--foundation-grey-500);
    }
}

// Inner Donate
.hog-button-back {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    border: 1px solid var(--foundation-grey-100);
    border-radius: 50px;
    text-decoration: none;
    color: var(--foundation-grey-400);
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
}

.donation-card-paystack {
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(57, 53, 53, 0.03);
    border-radius: 10px;
    padding: 28px;
}

.donation-card-transfer {
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(57, 53, 53, 0.03);
    border-radius: 10px;
    padding: 28px;

    .body-base-regular {
        color: var(--foundation-grey-300);

        .body-base-semibold {
            color: var(--foundation-grey-500);
        }
    }
}

.divider {
    width: 100%;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin: 24px 0;
}

#donation-details {
    #vart {
        span {
            display: flex;
            align-items: center;
            width: auto;

            &:nth-child(1) {
                margin-right: 48px;

                @media screen and (max-width: 500px) {
                    margin-right: 20px;
                }
            }

        }
    }
}

.donation-details {
    .body-base-regular {
        color: var(--foundation-grey-300);

        span {
            color: var(--foundation-grey-500);
        }
    }
}

#donation-category {
    color: var(--foundation-primary-700);
}

// Testimonial Page
#testimonial-hero,
#testimonial-story-container {
    .body-small-semibold {
        color: var(--foundation-primary-700);
    }

    .heading-three-bold {
        color: var(--foundation-grey-500);
    }
}

.testimonial-card {
    // width: 384px;
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(73, 69, 69, 0.03);
    border-radius: 10px;
    padding: 24px;

    #testimonial-img {
        margin-bottom: 24px;
    }

    .heading-six-semibold {
        margin-bottom: 4px;
        color: var(--foundation-grey-500);
    }

    #testimonial-time {
        margin-bottom: 16px;
    }

    #testimonial-excerpt {
        margin-bottom: 16px;
    }

    #testimonial-post-details {
        margin-bottom: 24px;

        .body-small-semibold {
            color: var(--foundation-grey-800);
        }
    }

}

#testimonial-stories {
    .heading-three-semibold {
        color: var(--foundation-grey-500);
    }
}

// Visitors Page
// .visiting-hours {
//     list-style: none;
//     padding-left: 0;

//     .period {
//         display: flex;
//         // width: auto;
//         justify-content: space-between;
//         margin: 24px 0;
//         align-items: flex-start;
//         width: 479px;

//         &:nth-child(1) {
//             width: 23px;
//         }

//         span {
//             flex-grow: 0;
//             flex: none;

//             &:nth-child(1) {
//                 order: 0;
//                 // width: 30%;
//             }

//             &:nth-child(2) {
//                 order: 1;
//                 // width: 15%;
//             }

//             &:nth-child(3) {
//                 order: 2;
//                 // width: 35%;
//             }
//         }
//     }
// }

#vhr {
    .heading-five-semibold {
        color: var(--foundation-grey-500);
    }

    // Left Side of VHR
    #left-vhr {
        tr {
            margin-top: 24px;
            margin-bottom: 24px;

            th {
                @include body-base-semibold();
                color: var(--foundation-grey-500);
            }

            td {
                @include body-base-regular();
                color: var(--foundation-grey-400);
            }
        }

        .table>:not(caption)>*>* {
            padding: 0.5rem 0rem
        }
    }

    // Right Side of VHR
    #right-vhr {
        .body-base-regular {
            color: var(--foundation-grey-300);
        }

        .rules {
            color: var(--foundation-grey-400);
            @include body-base-regular();

            li {
                margin: 16px 0;
            }
        }
    }
}

// Gallery
#gallery-hero {
    .body-small-semibold {
        color: var(--foundation-primary-700);
        margin-bottom: 16px;
    }

    .heading-three-bold {
        color: var(--foundation-grey-500);
        margin-bottom: 16px;
    }

    .heading-six-regular {
        margin-bottom: 16px;
    }

}

#gallery {
    label {
        margin-bottom: 8px;
    }

    .grid-items {
        display: none;
        align-items: center;
        justify-content: center;

        &.visible {
            display: flex;
        }
    }
}

.gallery-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    border-radius: 50px;
    border: 0;

    &.active {
        background-color: var(--foundation-primary-700);
        color: #FFFFFF;
    }

    @media screen and (max-width: 1024px) {
        padding: 10px 20px;
    }
}

.data-unavailable {
    display: none;
}