@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import '_mixins.scss';

@import 'global';

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #FCFCFC;
    height: 100%;
}

:root {
    --foundation-primary-900: #58492E;
    --foundation-primary-800: #74603C;
    --foundation-primary-700: #957C4D;
    --foundation-primary-600: #BF9E63;
    --foundation-primary-500: #D2AE6D;
    --foundation-primary-400: #DBBE8A;
    --foundation-primary-300: #E1C99D;
    --foundation-primary-200: #EADABC;
    --foundation-primary-100: #F1E6D2;
    --foundation-primary-50: #FBF7F0;

    --foundation-secondary-900: #641517;
    --foundation-secondary-800: #821C1E;
    --foundation-secondary-700: #A82427;
    --foundation-secondary-600: #D82E32;
    --foundation-secondary-500: #ED3237;
    --foundation-secondary-400: #F15B5F;
    --foundation-secondary-300: #F37679;
    --foundation-secondary-200: #F7A1A3;
    --foundation-secondary-100: #F9BFC1;
    --foundation-secondary-50: #FDEBEB;

    --foundation-grey-900: #121212;
    --foundation-grey-800: #181818;
    --foundation-grey-700: #1F1F1F;
    --foundation-grey-600: #282727;
    --foundation-grey-500: #2C2B2B;
    --foundation-grey-400: #565555;
    --foundation-grey-300: #727171;
    --foundation-grey-200: #9E9D9D;
    --foundation-grey-100: #BEBDBD;
    --foundation-grey-50: #EAEAEA;
}

// Nav Menu Styles
nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 54px 0;

    @media screen and (max-width: 1440px) {
        padding: 27px;
    }

    .container {
        height: 52px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1440px) {
            height: 32px;
        }

        .logo {
            width: 5%;
            height: 100%;
        }

        .menu {
            height: 52px;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: end;

            .menu-list {
                display: flex;
                list-style: none;
                padding-left: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .menu-list-item {
                    .menu-link {
                        @include body-base-regular();
                        color: #FFFFFF;
                        text-decoration: none;

                        &.active {
                            font-weight: 600;
                        }
                    }

                    .menu-button {
                        text-decoration: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 13px 26px;
                        gap: 10px;
                        border: 1px solid #FFFFFF;
                        border-radius: 10px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

}

// Hero Container Styles
#hero {
    min-height: 90vh;
    display: grid;
    place-items: end;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../assets/images/Home\ Page\ hero\ image.png');
    background-size: cover;
    background-repeat: none;

    // Oragnizations Number Style
    .org-number-container {
        position: relative;

        .org-number {
            color: #FFFFFF;
        }
    }
}

// Clientele Section Styles
#clientele {
    position: relative;

    .move-container-halfway {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 15px 25px rgba(58, 55, 55, 0.02) !important;

        .img-grayscale {
            mix-blend-mode: luminosity;
        }
    }
}

//  About Section Styles
#about {
    .heading-two-bold {
        color: var(--foundation-grey-500);
    }

    .body-base-regular,
    .body-small-regular {
        color: var(--foundation-grey-300);
    }

    .body-base-semibold {
        color: var(--foundation-secondary-600);
    }
}

// Build Together Styles
#build-together {
    min-height: 80vh;
    display: grid;
    place-items: center;
    background: rgba(251, 247, 240, 0.7);
}

// Testimonial Stories
#testimonials {

    .body-base-regular {
        color: var(--foundation-grey-300);
    }

    .body-large-semibold {
        color: var(--foundation-secondary-600);
    }

    .heading-three-bold {
        color: var(--foundation-primary-700);
    }

    .heading-six-semibold {
        color: var(--foundation-grey-500);
    }

    .custom-card {
        background-color: transparent;
        filter: drop-shadow(0px 15px 25px rgba(48, 48, 48, 0.03));
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &.active {
            background-color: #ffffff !important;
            box-shadow: 0px 15px 25px rgba(48, 48, 48, 0.03);
        }

        .user {
            display: flex;
            align-items: center;

            .user-image {
                margin-right: 10px;
            }
        }
    }

    // Stories
    .stories {
        height: 460px;
        position: relative;
        overflow: hidden;
        display: flex;

        .story-container {
            width: 100%;
            display: none;

            &.active {
                display: block;
            }
        }
    }

}

// Footer Design Styles
#footer {
    min-height: 50vh;
    display: grid;
    place-items: center;

    .container {
        border-color: rgba(0, 0, 0, 0.2);

        .body-base-regular {
            color: var(--foundation-grey-300);
        }
    }

    // Subscription Form
    .sub-form {
        position: relative;

        #subscriber {
            padding: 16px 10px;

            &::placeholder {
                font-size: 14px;
                color: #959696;
            }
        }

        .hog-button-subscribe {
            position: absolute;
            top: 8px;
            right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 16px;
            color: #FFFFFF;
            @include body-small-semibold();
            background: var(--foundation-grey-500);
            border-radius: 5px;
            border: none;
        }
    }

    // Help Links
    .help-links {
        padding-left: 0;
        list-style: none;

        .links-within-list {
            margin: 20px 0;

            a {
                text-decoration: none;
                color: var(--foundation-grey-400);
                @include body-base-regular();
            }
        }
    }
}

// Contact Us Page
// Contact + Form
.contact-hero {
    min-height: 120vh;
    display: grid;
    place-items: center;

    .body-small-semibold {
        color: var(--foundation-primary-700);
    }

    .heading-two-bold {
        color: var(--foundation-grey-500);
    }

    .heading-six-regular {
        color: var(--foundation-grey-300);

        .heading-six-semibold a {
            color: var(--foundation-primary-700);
            text-decoration: none;
        }
    }

    // Contact Form Styling
    form {

        label {
            @include body-small-regular();
            color: var(--foundation-grey-500);
        }

        input {
            &.input-style {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 16px;
                gap: 10px;
            }

            &::placeholder {
                font-size: 14px;
                color: #9E9D9D;
            }
        }

        .iti {
            display: flex;
        }

        textarea {
            resize: none;
        }

        .agree-link {
            color: var(--foundation-primary-700);
            text-decoration: none;
            font-weight: 700;
        }

        button {
            border: 0;
            @include body-base-semibold();
        }
    }

}

// Map Section Styling
.contact-map {
    .heading-six-regular {
        color: var(--foundation-grey-300);
    }

    .overlay {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        // .directions-button {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;
        //     align-items: center;
        //     padding: 13px 26px;
        //     gap: 10px;
        //     border-radius: 10px;
        //     background-color: var(--foundation-secondary-500);
        //     @include body-base-semibold();
        //     text-decoration: none;
        //     color: #FFFFFF;
        // }
    }
}

// About Page
.about-hero {
    min-height: 120vh;
    display: grid;
    place-items: center;

    .container {
        background-color: #FAF3E7;
        border-radius: 10px;
        position: relative;

        .hog-button-gold {
            @include body-base-semibold();
        }

        .floating-element {
            position: absolute;

            &.floating-element-purple {
                width: 20px;
                height: 20px;
                background-color: #BD27D6;
                border-radius: 50%;
                top: 9%;
                left: 85.8%;
            }

            &.floating-element-blue {
                width: 20px;
                height: 20px;
                background-color: #27CBD6;
                border-radius: 50%;
                top: 25%;
                left: 15%;
            }

            &.floating-element-green {
                width: 44px;
                height: 44px;
                background-color: #45C130;
                border-radius: 50%;
                top: 40%;
                left: 70.5%;
            }

            &.floating-element-faded-pink {
                width: 128px;
                height: 128px;
                background: rgba(249, 191, 193, 0.5);
                border-radius: 50%;
                top: 80%;
                left: 59.3%;
            }

            &.floating-element-crown {
                width: 81px;
                height: 117px;
                top: 42%;
                left: 32%;
            }
        }

        .z-index-1 {
            position: relative;
            z-index: 1;
        }
    }

}

// About Values
.values {
    .body-small-semibold {
        color: var(--foundation-primary-700);
    }

    .heading-five-bold,
    .body-large-semibold {
        color: var(--foundation-grey-500);
    }

    .body-base-regular,
    .body-small-regular {
        color: var(--foundation-grey-300);
    }
}

// About Story
.our-story {
    .body-large-semibold {
        color: var(--foundation-primary-700);
        text-transform: uppercase;
    }

    .heading-five-bold,
    .body-large-regular,
    .body-large-bold {
        color: var(--foundation-grey-500);
    }

    .body-small-regular {
        color: var(--foundation-grey-300);
    }

    // Video Container
    .video-container {
        width: 100%;
        height: 720px;
        background-image: url("../assets/images/About\ us\ -\ Our\ story\ video.png");
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media screen and (max-width: 1200px) {
            height: 500px;
        }

        @media screen and (max-width: 500px) {
            height: 300px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }

        .play-video-button {
            z-index: 1;
            cursor: pointer;

            img {
                @media screen and (max-width:500px) {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    // Video Player
    .video-player {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10000;
        background: rgba(0, 0, 0, 0.95);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        video {
            padding: 1rem;
        }

        .close-video {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
            filter: invert(1);
            max-width: 20px;
        }

        @media screen and (min-width:768px) {
            .ratio-4x3 {
                --bs-aspect-ratio: 50%;
            }

            .ratio {
                width: 80%;
            }
        }
    }
}

// About Visions
.vision {
    .body-base-regular {
        color: var(--foundation-grey-300);
    }

    .heading-five-bold {
        color: var(--foundation-grey-500);
    }
}

// Join Us Page
#join-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/images/How\ to\ help\ -\ Volunteer\ -\ Image.png");
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    display: grid;
    place-items: end;
    color: #FFFFFF;

    .body-small-semibold {
        text-transform: uppercase;
    }
}

// Benefits
.benefits {
    .custom-card {
        position: relative;
        background-color: var(--foundation-primary-50);
        padding: 46px 28px 28px 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        text-align: center;

        @media screen and (max-width: 1440px) {
            height: 250px;
        }

        .custom-card-img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}