nav {
  position: relative;
}

nav .container .menu .menu-list .menu-list-item .menu-link {
  color: var(--foundation-grey-400);
}

nav .container .menu .menu-list .menu-list-item .menu-link.active {
  color: var(--foundation-grey-500);
}

nav .container .menu .menu-list .menu-list-item .menu-button {
  color: var(--foundation-primary-700);
  border-color: var(--foundation-primary-700);
}
